{% extends 'layouts/master.html.twig' %}

{% block content %}
    {% include 'layouts/navbar.html.twig' %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 well well-lg">
        <h1 class="text-center"> BEM VINDO {{session.name}} </h1>
        <a href="/user/register">Registrar usuário</a>
        <a href="/user/myaccount">Atualizar dados</a>
    </div>
    <div class="col-md-4"></div>
    </div>
{% endblock %}