{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center"> Vizualise os dados, {{session.name}}! </h1>
            <hr>
        </div>
        <div class = "col-sm-12">
            <div class = "col-sm-12">
                <div class = "text-center">
                    <h3>{{ nome }}</h3>
                </div>
                <hr>
            </div>
            <table class="table table-fixed table-bordered">
                <tr class="row">
                    <th class="col-md-1">Date</th>
                    <th class="col-md-1">UVIndex</th>
                    <th class="col-md-1">SolarRad</th>
                    <th class="col-md-1">Rain</th>
                    <th class="col-md-1">Bar</th>
                    <th class="col-md-1">WindSpeed</th>
                    <th class="col-md-1">OutHum</th>
                    <th class="col-md-1">LowTemp</th>
                    <th class="col-md-1">DewPt</th>
                    <th class="col-md-1">HiTemp</th>
                    <th class="col-md-1">TempOut</th>
                </tr>
                <tbody id = "tabela">
                    {% include 'partials/overviewPartial.html.twig' %}
                </tbody>
            </table>
            <input type="hidden" name = "tipo" value="{{ tipo }}" >
            <button class = "btn btn-info pull-right" onclick="verMais()">Ver Mais</button>
        </div>
    </div>
<script>
    var offset = 0;
    function verMais() {
        $.ajax({
            method:"POST",
            url:"/admin/dataOverview/verMais",
            data: {tipo: $("input[name='tipo']").val(), offset: ++offset},
            success:function (data) {
                $("#tabela").append(data);
            }
        });
    }
</script>
{% endblock %}