{% extends 'layouts/master.html.twig' %}

{% block content %}
    {% include 'layouts/navbar.html.twig' %}
    {% verbatim %}
    <div class="container" ng-app="app">
        <div ng-controller="AppController">
            <form class="form-inline">
                <div class="form-group">
                    <label>Tipo de gráfico</label>
                    <select class="form-control" ng-change="getData()" ng-model="chartType">
                        <option value="temp">Temperatura</option>
                        <option value="outHum">Umidade do ar</option>
                        <option value="dewPt">Temperatura do ponto de orvalho</option>
                        <option value="windSpeed">Intensidade do vento</option>
                        <option value="bar">Pressão atmosférica</option>
                        <option value="rain">Preciptação</option>
                        <option value="solarRad">Radiação solar</option>
                        <option value="UVIndex">Índice ultra violeta</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Inicio</label>
                    <input class="form-control"
                    data-provide="datepicker"
                    data-date-format="yyyy-mm-dd"
                    ng-model="start">
                </div>
                <div class="form-group">
                    <label>Final</label>
                    <input class="form-control"
                    data-provide="datepicker"
                    data-date-format="yyyy-mm-dd"
                    ng-model="end">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="getData()">Atualizar</button>
                </div>
            </form>
            <highchart id="container" config="chart"></highchart>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block js %}
    <script type="text/javascript">

        let app = angular.module('app', ['highcharts-ng']);

        app.controller('AppController', function AppController($scope, $http) {

            $scope.chartType = 'temp';
            $scope.chart = {};
            $scope.start = '2016-01-02';
            $scope.end = '2016-01-03';

            $scope.getData = function (callback) {
                $http.get('/get-data/type/' + $scope.chartType + '/start/' + $scope.start + '/end/' + $scope.end + '').then(function (response) {
                    $scope.chart = response.data;
                });
            };

            $scope.getData();
        });
    </script>
{% endblock %}
