{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="container">

        {% for message in messages %}
            <div class="alert alert-{{ message.type }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                {{ message.message | nl2br }}
            </div>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Importar dados da estação</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="davis">Arquivo de dados da estação</label>
                        <input type="file" id="davis" name="davis[]" multiple>
                    </div>
                    <hr>
                    <input type="hidden" name="convert" value="0">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="convert" value="1"> A intensidade do vento está em km/h. Converter para m/s.
                        </label>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-default">Importar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="" style="height: 200px"></div>
{% endblock %}