/vendor/
/composer.lock
/.idea/
/node_modules/
/mix-manifest.json
/mix.js
/fonts/
db.sqlite
/app/config-overwrite.php
public/mix-manifest.json
public/mix.js
public/css/app.less.css
public/css/app.scss.css
