footer {
  background-color: @navbar-default-bg;
  border-top: 1px solid @navbar-default-border;
  padding: @padding-base-horizontal @padding-base-vertical;
  h4 {
    margin-left: 25px;
  }
  ul {
    li {
      line-height: 50px;
    }
  }
}

.panel-login {
  margin-top: 50px;
  margin-bottom: 100px;
}

.mdi-set, .mdi:before {
  margin-right: 5px;
}
