<footer>
    <div class="container">
        <div class="col-md-4">
            <h4>Links úteis</h4>
            <ul>
                <li><a href="http://www.unifei.edu.br/">UNIFEI</a></li>
                <li><a href="/faleConosco">Contato</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Acesso rápido</h4>
            <ul>
                <li><a href="/">Visualização dos dados</a></li>
                <li><a href="/faleConosco">Contato</a></li>
                <li><a href="/login">Área Restrita</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h4>Desenvolvido por: </h4>
            <ul>
                <li><a target="_blank" href="https://github.com/cesaraugusto-dev">Cesar Augusto</a></li>
                <li><a target="_blank" href="https://github.com/b2fdp">Luã Faria</a></li>
                <li><a target="_blank" href="https://github.com/pedroprado010">Pedro Salomon</a></li>
                <li><a target="_blank" href="https://github.com/roquerodrigo">Rodrigo Roque</a></li>
            </ul>
        </div>
    </div>
</footer>
