<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CEPreMG</title>
    <link rel="stylesheet" href="/css/app.css">
    {% block css %}{% endblock %}
</head>
<body>
{% include 'layouts/navbar.html.twig' %}
{% block content %}{% endblock %}
{% include 'layouts/footer.html.twig' %}
<script src="/js/app.js"></script>
{% block js %}
{% endblock %}

{% if session.auth == true %}
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    method: "GET",
                    url: "/admin/mensagens/countNaoLidas",
                    success: function (data) {
                        console.log(data);
                        if (data > 0) {
                            $("#mensagens").attr('class', "mdi mdi-message-alert alert-danger mdi-12px");
                        }
                        else {
                            $("#mensagens").attr('class', "mdi mdi-message-bulleted mdi-12px");
                        }
                    }
                });
            }, 10000);
        });
    </script>
{% endif %}

</body>
</html>
